{% extends 'temp/home.html' %}
{% block base %}
<html>
<head>
	<title>Student</title>
</head>
<body><center><form method="POST">
    {% csrf_token %}
	<h1> STUDENT REGISTRATION</h1>
	<table cellspacing="5" cellpadding="5">
		<tr>
			<td>NAME </td>
			<td>:<input type="text" name="name"></td>
		</tr>
        <tr>
            <td>Regno</td>
            <td><input type="number" name="reg"></td>
        </tr>
		<tr><td>Phone :</td>
			<td><input type="number" name="mobno"></tr>
		<tr>
		<tr>
			<td>ADDRESS</td>
			<td> :<textarea name="adr"></textarea></td>
		</tr>
		<tr><td>MAIL</td>
			<td>:<input type="text" name="mail"></td></tr>
		<tr>
			<td>GENDER </td>
			<td>: male <input type="radio" name="gndr" value="male">female<input type="radio" name="gndr" value="female">
			</td>
		</tr>
{#		<tr>#}
{#			<td>DEPARTMENT </td>#}
{#			<td>:<select name="dept">#}
{#				<option value="MCA">MCA</option>#}
{#				#}
{#			</select></td>#}
{#		</tr>#}
        <tr>
            <td>SEMESTER</td>
            <td><input type="number" name="sem"></td>
        </tr>
		<tr>
			<td>USERNAME </td>
			<td>:<input type="text" name="username"></td>
		</tr>
		<tr>
			<td>PASSWORD </td>
			<td>:<input type="Password" name="Password"></td>
		</tr>
		
				<tr>
			<td></td><td>
				<input type="reset" name="reset" value="RESET  ">
			
			<input type="submit"  value="REGISTER"></td>
		</tr>
	</table>
	</form>
</center>
</body>
</html>
{% endblock %}