{% extends 'temp/Facultyhome.html' %}
{% block base %}
<html>
<head>
	<title>create topic</title>
</head>
<body><center>

	<h1>CREATE NEW TOPIC</h1>

<form method="POST" enctype="multipart/form-data">
     {% csrf_token %}

<table>

	<tr>
		<td>Topic</td>
		<td><input type="text" name="tname"></td>
	</tr>
	<tr>
		<td>Description</td>
		<td><textarea name="des"></textarea></td>
	</tr>
	<tr>
		<td>Semester</td>
		<td><input type="number" name="sem"></td>
	</tr>
        <tr>
        <td>add img</td>
        <td><input type="file" name="img"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="submit"></td>
    </tr>

</table> </form>
	</center>

</body>
</html>
{% endblock %}